In [1]:
x = 0
y = 5

In [2]:
if x < y:
    print('yes')

yes

In [4]:
if x:
    print('yes')

# Identified as false because x is 0

In [6]:
if y:
    print('yes')

# Identified as true because y is int and not 0

yes

In [7]:
if 'aul' in 'grault':
    print('yes')

yes

In [8]:
if 'qux' in ['foo', 'bar', 'baz']:
    print('yes')

In [11]:
keyword = 'Hello'
words = ['hai', 'nihao', 'annyeong']

if keyword in words:
    print('yeay!')
else:
    print('AH nooo!')

AH nooo!

In [12]:
weather = 'nice'
# weather = 'stormy'

if weather == 'nice':
    print('mown the lawn')
    print('weed the garden')
    print('take the dog a walk')

mown the lawn
weed the garden
take the dog a walk

In [15]:
if 'foo' in ['bar' 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done')

print('After conditional')

After conditional

In [17]:
# if 'foo' in ['bar', 'baz', 'qux']:
if 'qux' in ['bar', 'baz', 'qux']:
	print('Expression was true')
	print('Executing statement in suite')
	print('...')
	print('Done.')
    
print('After conditional')

Expression was true
Executing statement in suite
...
Done.
After conditional

In [16]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [18]:
print('x is ', x)
print('-' * 15)

if x < 50:
	print('(first suite)')
	print('x is small')
else:
	print('(second suite)')
	print('x is large')

x is  20
---------------
(first suite)
x is small

In [19]:
harga_buku = 20000
harga_majalah = 5000
# uang = 2000
uang = 20000

print('uang :', uang)
print('harga buku :', harga_buku)

if uang > harga_buku:
	print('beli buku')
else:
	print('uang tidak cukup')

uang : 20000
harga buku : 20000
uang tidak cukup

In [20]:
harga_buku = 20000
harga_majalah = 5000
# uang = 2000
uang = 20000

print('uang :', uang)
print('harga buku :', harga_buku)

# if uang > harga_buku:
if uang >= harga_buku:
	print('beli buku')
else:
	print('uang tidak cukup')

uang : 20000
harga buku : 20000
beli buku

In [21]:
# a b c d e
# >80, >60, >40, >20, >0

nilai = 90
if nilai > 0:
	print('e')
elif nilai > 20:
	print('d')
elif nilai > 40:
	print('c')
elif nilai > 60:
	print('b')
elif nilai > 80:
	print('a')
# ..
# nilai > 40
# nilai > 60
# nilai > 80

e

In [22]:
# a b c d e
# >80, >60, >40, >20, >0

nilai = 90
if nilai > 80:
	print('a')
elif nilai > 60:
	print('b')
elif nilai > 40:
	print('c')
elif nilai > 20:
	print('d')
elif nilai > 0:
    print('e')

a

In [23]:
#From this
if 'f' in 'foo':
	print('1')
	print('2')
	print('3')

1
2
3

In [24]:
x = 2
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [25]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [26]:
raining = False

place = ""
if not raining:
	place = 'beach'
else:
	place = 'library'

print("Let's go to the", place)

Let's go to the beach

In [27]:
Raining = False
print(not raining)
# 	not False
# True

True

In [28]:
Raining = True
print(not raining)
# 	not True
# False

True

In [29]:
n = 5
while n > 0:   # 5 > 0?, 4, 3, 2, 1, 0 > 0? False
	n -= 1 	# 4 3 2 1 0 x
	print(n)   # 4 3 2 1 0 x

4
3
2
1
0

In [30]:
i = 1
while i < 6:  # 1, 2, 3, 4, 5, 6< 6? False
  print(i)	# 1  2  3  4  5
  i += 1  	# 2  3  4  5  6

1
2
3
4
5

In [33]:
n = 5
while n > 0:                	# 5 4 3
    n -= 1                  	# 4 3 2
    if n == 2:              	# F F T
        break # Break Statement # S S break
    print(n)                	# 4 3 xx
print('Loop ended.')

4
3
Loop ended.

In [35]:
n = 5
while n > 0:          	# 5 4 3 2 1 0>0? False
	n -= 1            	# 4 3 2 1 0
	if n == 2:        	# F F T F F
		continue      	# S S C S S
   	 
	print(n)          	# 4 3   1 0
    
print('Loop ended.') # thiss

4
3
1
0
Loop ended.

In [36]:
n = 10
while n > 0:
	n -= 1
    
	if n == 2:
		break # Break Statement
   	 
	print(n)
    
	if n == 4:
		continue
    
	print('-' * 5)
    
    
print('Loop ended.')

9
-----
8
-----
7
-----
6
-----
5
-----
4
3
-----
Loop ended.

In [38]:
a = ['foo', 'bar']

while len(a):      	# 2
	print(a.pop(0))	# ['foo'], sisa ['bar']
    
	b = ['baz', 'qux']
    
	while len(b):  	# 2 1 0
		print('>', b.pop(0)) # >['baz'], sisa ['qux'] || >['qux'], sisa []

foo
> baz
> qux
bar
> baz
> qux

In [40]:
a = ['foo', 'bar']
# a = ['bar']
# a = []

while len(a):             	# 2           	1           	0 False
	print(a.pop(0))       	# foo         	bar
    
	b = ['baz', 'qux']
	# b = ['qux']
	# b = []
    
	while len(b):         	# 2  	1    	2  	1
		print('>', b.pop(0))  # >baz   >qux 	>baz   > qux

foo
> baz
> qux
bar
> baz
> qux

In [41]:
i = 0
while i < 4:
	print('i ', i)
    
	j = 1
	while j < 5:
		print('j ', j)
		if j == 2:
			print('will break loop using j counter')
			break
   	 
		j += 1
    
	if i == 1:
		print('will break loop using i counter')
		break
	i+=1

i  0
j  1
j  2
will break loop using j counter
i  1
j  1
j  2
will break loop using j counter
will break loop using i counter

In [42]:
# in another PL::  for i = 0 to 10
for i in range(11):
	print(i)

0
1
2
3
4
5
6
7
8
9
10

In [43]:
# in another PL:: for i = 1 to 10
for i in range(1, 11):
	print(i)

1
2
3
4
5
6
7
8
9
10