In [1]:
def greeting():
	'''Fungsi ini akan menampilkan pesan default yaitu Hello World 10 x'''
	print('Hello world' * 10)

In [4]:
greeting

In [5]:
#evoke #trigger #panngil
greeting()

Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world

In [6]:
dir(greeting)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [7]:
greeting.__doc__

'Fungsi ini akan menampilkan pesan default yaitu Hello World 10 x'

In [8]:
def my_function(p, l): #parameter
	'''Function untuk menghitung luas'''
	print(p * l)
	# return None

In [9]:
my_function()
#memang error

TypeError: my_function() missing 2 required positional arguments: 'p' and 'l'

In [10]:
my_function(2, 8)

16

In [11]:
print(my_function(2, 8))

16
None

In [12]:
my_function.__doc__

'Function untuk menghitung luas'

In [13]:
# Function definition is here
def changeme(mylist):
	"This changes a passed list into this function"
	mylist.append([1, 2, 3, 4])
	print("Values inside the function: ", mylist)
	return


# Now you can call the changeme function
mylist = [10, 20, 30]
changeme(mylist)
print("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [14]:
# Function definition is here
def changeme(mystr):
	"This changes a passed str into this function"
	mystr += '777'
	print("Values inside the function: ", mystr)
	return


# Now you can call the changeme function
mystr = "holla "
changeme(mystr)
print("Values outside the function: ", mystr)

Values inside the function:  holla 777
Values outside the function:  holla

In [15]:
# Function definition is here
def changeme(mylist):
	'''This changes a passed list into this function'''
	mylist = [1, 2, 3, 4] # This would assign new reference in mylist
	print("Values inside the function: ", mylist) #** 1 2 3 4
	return


# Now you can call changeme function
mylist = [10, 20, 30]
changeme(mylist)
print("Values outside the function: ", mylist)  #**10, 20, 30

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [16]:
# Function definition is here
def print_info(name, age):
	'''This prints a passed info this function'''
	print("Name: ", name)
	print("Age: ", age)
	return

# Now you can call printinfo function
print_info("ari", 45)

Name:  ari
Age:  45

In [17]:
print_info(45, "ari")
#       	(name, age)

Name:  45
Age:  ari

In [18]:
print_info(nama="ari", age=45)

TypeError: print_info() got an unexpected keyword argument 'nama'

In [19]:
print_info(age=45, name="ari")

Name:  ari
Age:  45

In [20]:
print_info(nama="ari", age=45)
#memang error

TypeError: print_info() got an unexpected keyword argument 'nama'

In [21]:
#before
print_info('Ira')

TypeError: print_info() missing 1 required positional argument: 'age'

In [22]:
#modify
# Function definition is here
def print_info(name, age=17):
	'''This prints a passed info this function'''
	print("Name: ", name)
	print("Age: ", age)
	return

In [23]:
#after
print_info('Ira')
print_info('Indira')
print_info('Dira')

Name:  Ira
Age:  17
Name:  Indira
Age:  17
Name:  Dira
Age:  17

In [24]:
# Function definition is here
def print_info(arg1, *vartuple):
# def print_info(cust_name, *items):
# def print_info(menu, *ingredients):
# def print_info(nasabah, *loan)

IndentationError: expected an indented block (1410930881.py, line 6)

In [26]:
# Function definition is here
def print_info(arg1, *vartuple):
	'''This prints a variable passed arguments'''
	print("Output is: ")
	print(arg1)
    
	for var in vartuple:
		print(var)
    
	return

In [27]:
# Now you can call printinfo function
print_info(10)
#     	(arg1, *vartuple= () )

Output is:
10

In [28]:
print_info(70, 60, 50, "a")
#      	arg1, *vartuple= (60, 50, "a") )

Output is:
70
60
50
a

In [30]:
# Function definition is here
def buy(cust_name, **items):
	'''This prints items bought by a customer '''
    
	print("Customer name: ", cust_name)
    
	for key in items:
# 	for item in items.keys():
		print("item ke-",key, ": ", items[key])
    
	return

In [31]:
buy("Ani", first="egg", second="sugar", third="salt", fourth="baking powder")

Customer name:  Ani
item ke- first :  egg
item ke- second :  sugar
item ke- third :  salt
item ke- fourth :  baking powder

In [32]:
buy("Nuri", satu="buku")

Customer name:  Nuri
item ke- satu :  buku

In [33]:
buy("Nuri", stationary=("buku", "pulpen"), detergent="detergent X")

Customer name:  Nuri
item ke- stationary :  ('buku', 'pulpen')
item ke- detergent :  detergent X

In [34]:
def calculate_area(p, l):
	'''Function untuk menghitung luas'''
# 	print(p * l)

# 	return p * l

	result = p *l
	return result
# 	return result, "AAAA"

area = calculate_area(10, 8)
# area = 80
print(area)

80

In [35]:
# Function definition is here
sum = lambda arg1, arg2: arg1 + arg2
# dari contoh yang sum(10, 20)
# sum = arg1 + arg2
# sum = 10 + 20
# sum = 30


# Now you can call sum as a function
print("Value of total : ", sum(10, 20))

print("Value of total : ", sum(20, 20))

Value of total :  30
Value of total :  40

In [38]:

penjumlahan = lambda arg1, arg2: arg1 + arg2

In [39]:
x = 10
y = 90
penjumlahan (x, y)

100

In [40]:
# Function definition is here
def sum(arg1, arg2):
	'''Add both the parameters and return them.'''
	total = arg1 + arg2
	total2 = total + arg1
	print("Inside the function : ", total)
	return total2

# Now you can call sum function
total = sum(10, 20)
print("Outside the function : ", total)

Inside the function :  30
Outside the function :  40

In [41]:
total = 0

def sum(arg1, arg2):
	total = arg1 + arg2
	print("Inside the function local total : ", total)
	return total

def min():
	pass
    
sum(10, 20)
print("Outside the function global total : ", total)

Inside the function local total :  30
Outside the function global total :  0

In [43]:
jumlahKucing = 20

def jumlahHewan():
	jumlahAnjing = 30
	return jumlahKucing + jumlahAnjing

def jumlahKelinci():
	return jumlahKucing + jumlahKucing

print(jumlahHewan())
print(jumlahKelinci())

50
40